%html
  %head
    %title User
    %link{ :href => "/stylesheets/main.css", :type => "text/css", :rel => "stylesheet" }
    /[if IE]
      %link{ :href => "/stylesheets/ie.css", :type => "text/css", :rel => "stylesheet" }
    %script{:src => '/javascripts/jquery.js', :type => 'text/javascript'}
    %script{:src => '/javascripts/application.js', :type => 'text/javascript'}
  %body
    .content
      #header
        %h1 tasket
      #main_menu
        %ul
          %li
            = link_to 'Sign Up', '/user/create' unless logged_in?
          %li
            - if logged_in?
              %h3= "oh hi, <b>#{logged_in_user.login}</b>"
            = link_to 'Login', '/user/login', {:condition => logged_in?, :location => '/user/logout', :name => 'Logout'}
          %li
            = link_to 'Your account', '/' if logged_in?
        
      #sub_menu
        %ul
          %li
            = link_to "Your Tasks #{'('+@new_tasks.to_s+')' if @new_tasks>0}", '/tasks' if logged_in?
            |
            = link_to "Tasked Tasks #{'('+@tasked.to_s+')' if @tasked>0}", '/tasked' if logged_in?
            |
            = link_to "New Task", '/task/create' if logged_in?


      %hr
      = show_flash
      #container
        = yield